* {
    margin: 0;
    padding: 0;
    
}

body {
    font-family: "Raleway";
    margin: 0;
    padding: 0;    
}
p {
    color: grey;
}
/*header styles*/

.navBar1 {
    padding: 20px;
    display: block;
    margin: 0px;  
    padding: 10px;  
    background-image: url(/Assets/Hero-bg.png);
    min-height: 300px;
}

.two-side {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 34px;
    font-weight: bolder;
    color: #4E47FF;
}
button {
    background-color: #4E47FF;
    font-weight: bold;
    color: white;
    padding: 12px 30px;
    border-radius: 12px;
}

.navIntro {
    text-align: center;
    padding: 100px;
    font-size: 40px;
}
.focus-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/*main*/
.action {
    display: flex;
    padding: 100px;
    justify-content: space-evenly;
}

.left-side h3 {
    font-size: 42px;
}
.left-side p {
    font-size: 24px;
}
.right-side img{
    border-radius: 40px;
}


/*productive user section*/
.productive-section {
    margin: auto;
    padding: 80px;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: lavender;
    border-radius: 15px;
    max-width: 1200px;

}
.section-heading {
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 38px;
    margin-left: 40px;
    padding-left: 40px;
}
.section-fig {
    display: flex;
    margin: 40px;
    justify-content: space-between;
    gap: 158px;
}
.user-stat {
    display: flex;
    font-weight: bold;
    font-size: 84px;
    color:#4E47FF;
}
