* {
    margin: 0;
    padding: 0;
    
}

body {
    font-family: "Raleway";
    margin: 0;
    padding: 0;    
    background-color: #F5F8FF;
}
p {
    color: grey;
}
a {
    color: grey;
}
/*header styles*/

.navBar1 {
    padding: 20px;
    display: block;
    margin: 0px;  
    padding: 10px;  
    background-image: url(Assets/Hero-bg.png);
    min-height: 300px;
}

.two-side {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 34px;
    font-weight: bolder;
    color: #4E47FF;
}
button {
    background-color: #4E47FF;
    font-weight: bold;
    color: white;
    padding: 12px 30px;
    border-radius: 12px;
}

.navIntro {
    text-align: center;
    padding: 100px;
    font-size: 40px;
}
.focus-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/*main*/
.action {
    display: flex;
    padding: 100px;
    justify-content: space-evenly;
}

.left-side h3 {
    font-size: 42px;
}
.left-side p {
    font-size: 24px;
}
.right-side img{
    border-radius: 40px;
}


/*productive user section*/
.productive-section {
    margin: auto;
    padding: 80px;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: lavender;
    border-radius: 15px;
    max-width: 1200px;

}
.section-heading {
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 38px;
    margin-left: 40px;
    padding-left: 40px;
}
.section-fig {
    display: flex;
    margin: 40px;
    justify-content: space-between;
    gap: 158px;
}
.user-stat {
    display: flex;
    font-weight: bold;
    font-size: 84px;
    color:#4E47FF;
}

/*feedback section*/
.feedback {
    margin: 60px;
    padding: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.feedback-caption {
    font-size: 42px;
    display: block;
    
    justify-content: center;
    align-items: center;
    padding-left: 500px;
}
.rating {
   display: flex;
   justify-content: space-between;
   margin: 10px;
   padding: 10px;
   gap: 20px;
}
.rating-content {
    background-color: #F2EDED;
    margin: 20px;
    padding: 20px;
}
.avatar {
    display: flex;
    padding: 5px;
    margin: 5px;
    
}
.avatar img {
    padding: 5px;
    margin: 5px;
}
/*caption section*/
.caption {
    display: flex;
    margin: auto 300px;
    padding: 80px;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.caption-title {
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
.caption-text {
    margin: 55px;
    padding: 10px;
}
.caption-text h1 {
    font-size: 66px;
    margin-bottom: 20px;
}
.caption-btn {
    margin-bottom: 40px;
}
.caption-img img {
    border-radius: 50px;
}

/*let' get in touch section*/
.lets-get-in-touch {
    display: flex;
    justify-content: space-between;
    margin: 90px 60px;
    padding: 140px 500px;
}
.lets-get-in-touch h1 {
    font-size: 50px;
}
.form {
    font-weight: bold;
    font-size: 18px;
}

input {
    height: 10px;
    margin-bottom: 20px;
    width: 300px;
    padding: 20px 32px;
    border-radius: 10px;
}
input[type="message"] {
    height: 60px;
    width: 300px;
    padding: 20px 32px;
    border-radius: 10px;


}
.get-in-touch-btn {
    margin-top: 30px;
}

/*footer*/
footer {
    text-align: center;
    align-items: center;
    margin-left: 600px;
    max-width: 600px;
}
.footerH1 {
    font-weight: bold;
    color: #4E47FF;
    font-size: 100px;
}
.footlist {
    display: flex;
    
    margin: 20px;
    justify-content: space-between;
}
ul {
    list-style: none;
    
}
a {
    text-decoration: none;
}
/*button animation*/
button:hover {
    background-color: #392e69;
    cursor: pointer;
}
